.wrapper{
    & a{
        color: #333;
        text-decoration: none;
        font-weight: 700;
        font-size: 1.4rem;

        & p{
            margin-left: 0.8rem;
        }
    }
}

.action-item{
    display: flex;
    align-items: center;
    margin-left: 3rem;
    user-select: none;
    cursor: pointer;
}

.border{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 0.2rem solid var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.icon{
    font-size: 2rem;
    color: var(--primary);
}

