//delivery Charges

.header{
    font-size: 2rem;
    padding: 1.6rem 0;
    font-weight: 700;
    color: #ff6600;
}

.title {
    padding: 3.2rem 0;
    font-size: 1.8rem;
}


.content {
    margin-bottom: 9rem;
}
.table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;

    & th, td {
        border: 1px solid;
        padding: 1.2rem 0;
    }
}

//Deliver Policy

.note{
    margin: 2.4rem 0 9rem;
}