.wrapper{
    margin-bottom: 3.2rem;
}

.title{
    color: #333;
    font-size: 2.8rem;
    font-weight: 500;
    margin: 1.6rem 0;
}

.form-group{
    color: #333;
    font-size: 1.6rem;
    margin: 0.8rem 0;

    label{
        font-weight: 700;
    }
    span{
        margin-left: 0.8rem;
    }

}