.wrapper {
    max-width: 30rem;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:hover {
        transform: scale(1.02);
        box-shadow: 1px 1px 5px 1px #333;
    }
}

.image {
    width: 100%;

    & img {
        width: 100%;
        border-radius: 0.8rem;
        object-fit: cover;
    }
}

.name {
    height: 2rem;
    & a {
        text-decoration: none;
        color: #333;
        font-size: 1.6rem;
        font-weight: 700;
        margin-left: 0.8rem;
        display: -webkit-box;
        line-height: 2.2rem;
        overflow: hidden;
        display: block;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;

        &:hover {
            color: #f3652a;
        }
    }
}

.price {
    padding: 0.8rem 0 0.8rem 0.8rem;
    color: var(--primary);
    font-weight: 700;

    & span:last-child {
        font-weight: 500;
        font-size: 1.4rem;
        color: #333;
        text-decoration: line-through;
        margin-left: 0.8rem;
    }
}

.add-to-cart {
    text-align: center;

    & button {
        color: #b0b0b0;
        background-color: transparent;
        border: 2px solid #d7d7d7;
        padding: 0 2.3rem;
        line-height: 3rem;
        font-size: 1.2rem;
        font-weight: 700;
        margin: 0.8rem 0;
        cursor: pointer;

        &:hover {
            color: #f3652a;
            border-color: #f3652a;
        }
    }
}

.sub-name {
    width: max-content;
    & span {
        font-size: 1.2rem;
        color: #333;
        background-color: var(--white);
        border: 1px solid #333;
        padding: 0.2rem 0.4rem;
    }
}
