$bgColor-title: #d80027;
$textColor: #f3652a;

.wrapper{
    margin-top: 0.8rem;
}

.title{
    padding: 1.5rem;
    color: var(--white);
    background-color: $bgColor-title;
    margin-bottom: 0.8rem;

    & h2 {
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.5rem;
    }

}

.category-list{
    & .category-item{
        list-style: none;
        width: 100%;
        padding: 0.5rem 1.5rem;
        cursor: pointer;
        font-size: 1.5rem;

        & a:hover {
            color: $textColor;
        }

        & a {
            text-decoration: none;
            color: #333;
            width: 100%;
        }
    }
}

//filter
.sub-title {
    font-size: 1.8rem;
    margin: 1rem 0;
}

.price{
    padding-left: 1.5rem;
}

.price-item{
    font-size: 1.5rem;
    margin-bottom: 0.8rem;

    & input{
        margin-right: 0.8rem;
        cursor: pointer;
        accent-color: red;
    }

    & label{
        cursor: pointer;
    }
}