.wrapper{
    margin-left: 27rem;
    margin-right: 1.6rem;

    & h1{
        font-size: 1.8rem;
        color: #333;
        padding: 1.6rem 0;
    }
}

.card{
    display: flex;
    justify-content: space-around;
    margin-top: 3.2rem;
}

.table {
    color: #333;
    margin: 1.6rem;

    h3{
        font-size: 2.8rem;
        font-weight: 500;
        color: #333;
        text-align: center;
    }

    & table {
        width: 100%;
        border-collapse: collapse;
        background-color: var(--white);
    }

    & table,
    th,
    td {
        border: 0.5px solid;
        text-align: center;
    }

    & th {
        padding: 0.5rem 1rem;
    }

    & td {
        padding: 1rem;
    }
}

.form-input{
    margin: 1.6rem;
    
    input {
        outline: none;
        border: 1px solid #ccc;
        padding: 0.8rem;
        display: block;

        &:focus{
            border-color: #66afe9;
            box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
        }
    }

    span{
        display: block;
        margin-bottom: 0.4rem;
    }

    .message-error{
        font-size: 1.2rem;
        color: red;
    
        opacity: 0;
    }

    button{
        border: none;
        font-size: 1.6rem;
        background-color: #007bff;
        color: white;
        padding: 0.8rem 1.6rem;
        border-radius: 4px;
        cursor: pointer;

        &:hover{
            opacity: 0.9;
        }
    }
}

.pagination {
    margin-bottom: 3.2rem;
    margin-top: 3.2rem;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    & .page-num {
        padding: 0.8rem 1.5rem;
        cursor: pointer;
        border-radius: 4px;
        font-weight: 500;

        &:hover {
            background-color: #c83548;
            color: var(--white);
        }
    }
}

.active {
    background-color: #c83548;
    color: var(--white);
    border-radius: 4px;
}