.wrapper{
    margin-left: 27rem;
    margin-right: 1.6rem;

    & h1{
        font-size: 1.8rem;
        color: #333;
        padding: 1.6rem 0;
    }
}

.card{
    display: flex;
    justify-content: space-between;
    margin-top: 3.2rem;
}