.wrapper {
    height: 4.6rem;
    background-color: var(--primary);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav ul {
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: space-between;
}

.nav li {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav li {
    margin-right: 2.4rem;
}

.nav a {
    text-decoration: none;
    color: var(--white);
    font-weight: 700;
    display: inline-block;
}

.nav span {
    display: block;
    background-color: #ffcf17;
    height: 2.4rem;
    font-weight: 700;
    padding: 0.2rem 1.2rem;
    cursor: pointer;
}
